:root {
  --primary-color: var(--blue-400);
  --white-color: #fff;
  --black-color: #212529;
  --gray-color: #EFEFEF;
  --gray-secondary: var(--gray-400);
  --success-color: var(--grin-400);
  --danger-color: var(--red-400);

  --gray-300: #848484;
  --gray-400: #D9D9D9;

  --blue-400: #007BFF;
  --blue-500: #0064D0;

  --grin-400: #28A745;

  --red-400: #DC3545;
  // old
  --main-black: #1b1b1b;
  --main-blue: #29007f;
  --main-orange: #db6a19;
  --main-gray: #a5b4ca;

  --secondary-gray: #e5e9f0;

  --dark-gray: #5a79ad;

  --main-gradient: linear-gradient(90deg, #db6a19 0%, #29007f 100%);
  --light-gradient: linear-gradient(
    90deg,
    #e5e9f0 0%,
    #ffffff 50%,
    #e5e9f0 100%
  );

  //shadows
  --shadow-base: 0 8px 16px 0 #1b1b1b33;
  --shadow-primary: 0px 2px 8px 0px #007BFF54;
}
