.button {
  $b: &;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  padding: 0 toRem(16);
  font-size: toRem(16);
  gap: toRem(12);
  transition: var(--transition-all);

  &__content {
    display: contents;
  }

  &--view {
    &--primary {
      background-color: var(--primary-color);
      color: var(--white-color);

      &:hover {
        box-shadow: var(--shadow-base);
      }
    }

    &--base {
      background-color: var(--white-color);
      color: var(--black-color);

      &:hover {
        box-shadow: var(--shadow-base);
      }
    }

    &--flat {
      background-color: transparent;
      color: var(--primary-color);

      &:hover {
        box-shadow: var(--shadow-base);
      }
    }

    &--secondary {
      background-color: var(--gray-secondary);
      color: var(--black-color);

      &:hover {
        box-shadow: var(--shadow-base);
      }
    }
  }

  &--size {
    &--s {
      height: toRem(32);
      min-width: toRem(32);
      border-radius: toRem(4);

      #{$b}__icon {
        font-size: toRem(20);
      }
    }

    &--m {
      height: toRem(36);
      min-width: toRem(36);
      border-radius: toRem(4);

      #{$b}__icon {
        font-size: toRem(24);
      }
    }

    &--l {
      height: toRem(46);
      min-width: toRem(46);
      border-radius: toRem(5);

      #{$b}__icon {
        font-size: toRem(30);
      }
    }
  }

  &.is-disabled {
    @include disabled;
    opacity: 0.6;
  }

  &.is-only-icon {
    width: auto;
    padding: 0;
  }

  &.is-rounded {
    border-radius: 100%;

    #{$b}__icon {
      font-size: toRem(24);
    }
  }

  &.is-squared {
    border-radius: 0;

    #{$b}__icon {
      font-size: toRem(24);
    }
  }
}
