.nav-link {
  $b: &;

  display: flex;
  align-items: center;
  gap: toRem(8);
  font-size: toRem(16);
  text-decoration: none;
  color: var(--black-color);
  transition: var(--transition-all);

  &:visited {
    color: inherit;
  }

  &--active {
    font-weight: 800;

    #{$b}__icon {
      color: var(--primary-color);
    }
  }

  &__icon {
   font-size: toRem(30);
  }
}

