.main-layout {
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
        "nav head head"
        "nav main main";
  min-height: 100vh;

  &__header {
    grid-area: head;
  }

  &__nav-bar {
    grid-area: nav;
  }

  &__main {
    grid-area: main;
  }
}
