.nav-bar {
  @include column(48);
  background-color: var(--gray-color);
  width: toRem(400);
  padding: toRem(48);
  transition: var(--transition-all);
  transition-property: width, padding, gap;

  &--hidden {
    width: toRem(100);
    padding: toRem(48) toRem(24);
  }

  &__controls {
    @include row(24);
    width: 100%;
    justify-content: flex-end;
  }

  &__hide-btn {
    @include row;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    flex-shrink: 0;
    background-color: var(--gray-secondary);
    cursor: pointer;
    font-size: toRem(24);
    width: toRem(50);
    height: toRem(50);
  }

  &__aside {
    @include column(32);
    overflow: hidden;
  }

  &__link {
    white-space: nowrap;
  }

}

