@font-face {
    font-family: "icons";
    src: url("/fonts/icons/icons.woff?5adb0f64411735a3353070ed0ba7e2fa") format("woff"),
url("/fonts/icons/icons.woff2?5adb0f64411735a3353070ed0ba7e2fa") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-bar-left:before {
    content: "\f101";
}
.icon-chevron-bar-right:before {
    content: "\f102";
}
.icon-chevron-down:before {
    content: "\f103";
}
.icon-chevron-up:before {
    content: "\f104";
}
.icon-cross:before {
    content: "\f105";
}
.icon-person-fill:before {
    content: "\f106";
}
.icon-trash:before {
    content: "\f107";
}
